@{
    ViewData["Title"] = "Index";
}
<header>
    La banda del morgan
     <nav> <a  href = '@Url.Action("Index","Home")'>Volver al inicio</a> </nav> 
</header>
<p> Contexto del Juego – Celda de Scofield

Año 2005. Penitenciaría Estatal de Fox River.

Fuiste arrestado por un crimen que no cometiste. Pero no estás solo: compartís celda con un hombre misterioso que parece tener todo bajo control. Se hace llamar Michael Scofield… y tiene un plan.

Durante semanas, lo observaste estudiar cada detalle de la prisión, tallar cosas en la pared, hacer anotaciones en papeles que desaparecían rápidamente. Decía tener tatuado el mapa completo del edificio en su cuerpo. Nadie le creyó… excepto vos.

Pero hoy, todo cambió. Scofield fue trasladado de urgencia a aislamiento. Y antes de irse, te dejó un mensaje críptico:
“La salida está en la celda. El tiempo corre. Confía en el plan.”

Ahora depende de vos continuar con su fuga. Símbolos y detalles que parecen triviales, pero esconden mucho más.

¿Podrás escapar como él?</p>

<footer>
    &copy; @DateTime.Now.Year - La banda del morgan
</footer>