@{
    ViewData["Title"] = "Index";
}
<header>
    La banda del morgan
     <nav> <a  href = '@Url.Action("Index","Home")'>Volver al inicio</a> </nav>
</header> 
  <img src = "/Imagenes/Augus.jpg" alt = "Augus" >
  <p> Morgan
  <img src = "/Imagenes/Tolo.png" alt = "Tolo" >
  <p> Tolo </p>
  <img src = "/Imagenes/Heiron.png" alt = "Heiron" >
  <p> Heiron </p>
  <p> Estos son los desarrolladores, creadores intelectuales y las makinas del proyecto </p>
  <footer>
    &copy; @DateTime.Now.Year - La banda del morgan
</footer>