@{
    ViewData["Title"] = "Index";
}
<div class = "Papel">
<p> “Sin tinta ni pluma te cuento quién soy,
 mi cuerpo es papel, mi alma es doblar.
 Dragones, grullas y flores me doy,
 soy arte que juega sin nunca cortar.”
</p>
<form action='@Url.Action("CompararRespuesta","Home")' method="post">
    <input type="text" name="respuesta" placeholder="Tu respuesta">
    <input type="submit" value="Enviar">
</form>
</div>