@{
    ViewData["Title"] = "Index";
    
}

<div class="Ranking">
<form action='@Url.Action("MostrarResultado", "Home")' method="post">
        <input type="submit" value="Volver a los resultados" />
    </form>    @if (ViewBag.Ranking != null)
    {
        if (ViewBag.Ranking.Count >0)
        {
            <h2>ESTE ES EL RANKING</h2>
            <ol>
                @foreach (string clave in ViewBag.Ranking.Keys)
                {
                    <li>@clave - @ViewBag.Ranking[clave]</li>
                }
            </ol>
        }
        else
        {
            <p>No hay datos en el ranking.</p>
        }
    }
    else
    {
        <p>No hay datos en el ranking.</p>
    }
    
</div>
