@{
    ViewData["Title"] = "Index";
}
<div class = "Sala5">
    <h1>¡Bienvenido a la Sala 5!</h1>
    <p>En esta sala, debes resolver el acertijo para avanzar.</p>
      <form class="Pista" action='@Url.Action("DevolverPista", "Home")' method="post">
    <button type="submit">Pista</button>
  </form>

</div>