@{
    ViewData["Title"] = "Index";
}
<div class = "Sala4">

<div class="Sala4-audio-container">
  <audio controls>
    <source src="/imagenes/Lockers.mp3" type="audio/mpeg">
  </audio>
</div>
<form class="form-sala4" action='@Url.Action("DLockers","Home")' method="post">  
        <input type="submit" value="enviar" >
    </form>

</div>