@{
    ViewData["Title"] = "Index";
}
<div class = "Sala3">
<source src="videos/LamparaVideo.mp4" type="video/mp4">
    <form class="Pista" action='@Url.Action("DevolverPista","Home")' method="post">
    <button type="submit">Pista</button>
</form>
</div>