@{
    ViewData["Title"] = "Index";
}
<div class="tutorial">
<header>
    La banda del morgan
     <nav> <a  href = '@Url.Action("Index","Home")'>Volver al inicio</a> </nav>
</header> 
<img src = "/Imagenes/Tutorial.webp" alt = "Tutorial" >
</p>
<footer>
    &copy; @DateTime.Now.Year - La banda del morgan
</footer>
</div>